body {
    width: 100%;
    padding:0; 
    margin:0; 
    overflow-x: hidden;
    font-family: 'Century Gothic', 'Avenir Next', 'Sans-Serif';
    font-size: 1em;
    color: #190CA8;
}
nav ul, footer ul {
    font-family: 'Century Gothic', 'Avenir Next', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1em;    
    margin: 2.5px auto 2.5px auto;
    color: #b7b7b7
}
nav ul li, footer ul li {
    display: inline;
    margin: 2.5px 0px 2.5px 0px;
    color: #C5C7CB;
    padding: 10px 0px 10px 25px;
    font-size: 1em;
}
a {
    margin: 3px auto 0px auto;
    padding: 0px;
    text-decoration: none;
    color: #626C7A;
}
a:hover {
    color: black;
    font-weight: 500;
}

p {
    font-family: 'Century Gothic', 'Avenir Next', 'Sans-Serif';
    font-size: 1em;
    padding: 0px;
    color: #7A122C;
}

footer {
    margin: 0px 5px 0px 5px;
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    color: #999;
    padding: 0px;
    text-align: right;
}

ul.posts { 
    margin: 0px auto 0px auto; 
    padding: 0px;
    font-size: 1em;
}
