 nav {

            }

        .nav a{
            font-size: 0.8em;
        }
.navbar .nav {
    font-family:'Avenir Book', 'Arial', 'Sans-Serif';
    font-size: 0.8em; 
    border: 1px solid #d5d5d5;
    padding: 0px;
    list-style: none;
}     
    
header {
    font-size: 0.8em;
    color: #000205;
}

body {
    margin: 20px auto;
    width: 70%;
    font-family:'Avenir Book', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    color: #190CA8;
}
nav ul, footer ul {
    font-family:'Avenir Book', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #C5C7CB;
}
a {
    text-decoration: none;
    color: #626C7A;
}
a:hover {
    color: #0654EF;
    font-weight: bold;
}

h1 {
    margin: 0px auto;
    font-size: 1.5em;
    font-family:'Avenir Book', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Avenir Book', 'Arial', 'Sans-Serif';
    font-size: 1em;
    color: #7A122C;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
    color: #999;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

.hangingindent {
  padding-left: 22px ;
}
