body {
    margin: 0px auto;
    width: 90%;
    font-family:'Avenir Next', 'Arial', 'Sans-Serif';
    font-size: 20px;
    color: #190CA8;
}
nav ul, footer ul {
    font-family:'Avenir Next', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 18px;
    color: #D0D0D0
    margin: 2.5px auto 0px 0px;
}
nav ul li, footer ul li {
    display: inline;
    margin: 12.5px 25px 5px 0px;
    color: #C5C7CB;
    font-size: 18px;
}
a {
    margin: 3px auto;
    text-decoration: none;
    color: #626C7A;
}
a:hover {
    color: black;
    font-weight: 500;
}

h1 { 
     margin: 0px auto;
     font-size: 24px;
     font-family:'Avenir Next', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Avenir Next', 'Arial', 'Sans-Serif';
    font-size: 20px;
    color: #7A122C;
}

footer {
    margin: 0px auto 5px 0px;
    border-top: 1px solid #d5d5d5;
    font-size: 16px;
    color: #999;
    text-align: right;
}

ul.posts { 
    margin: 0px auto 5px 0px; 
    font-size: 20px;
}

p.border.bottom {
    border-bottom: 1px solid #d5d5d5;
}

p.border.top {
    border-top: 1px solid #d5d5d5;
}
